{% load custom_tags %}
{% load static %}
{% include 'base.html' %}
<head>
    <title>Profielpagina</title>
</head>

{% include "Navbar/team_navbar.html" %}
<div class="container p-3 my-3 border bg-white" style="margin-top:30px">
    <div style="margin:20px">
        <div class="row align-self-center">
            <h3>
                <span class="badge" style="background-color: {{ current_team.kleur }}; color: {% get_complementary current_team.kleur %}">{{ current_team.naam }}</span>
            </h3>
            <a class="btn btn-outline-secondary" style="margin-left: 10px; height: 30px" href="{{ current_team.teamcode }}/edit"><span class="fa fa-pencil"></a>
            <a class="btn btn-outline-danger" style="margin-left: 10px; height: 30px; font-size:14px" href="{% url 'logout' %}">uitloggen</a>
        </div>
    </div>
    <form id="questionForm" method="post" class="form-inline">
    <table class="table">
        <tbody>
            <tr>
                <td>Teamcode:</td>
                <td colspan="2">{{ current_team.teamcode }}</td>
            </tr>
            <tr>
                <td>Toernooicode:</td>
                <td colspan="2">{{ team_toernooi.toernooicode.toernooicode }}</td>
            </tr>
            <tr>
                <td>score:</td>
                <td colspan="2">{{ current_team.score }}</td>
            </tr>
            <tr class="active">
                <td>Teamleden:</td>
                <td>Studentnummer</td>
                <td>Naam</td>
            </tr>
            <tr>
                <td>
                {% for teamlid in teamleden %}
                    </td>
                <td>{{ teamlid.studentnummer }}</td>
                <td>{{ teamlid.schermnaam }}
                    <button type="submit" class="btn btn-danger float-right" name="delete_student" value="{{ teamlid.schermnaam }}">
                        <span class="fa fa-trash"> </span>
                    </button>
                </td>
            </tr>
            <tr>
                <td>
                {% endfor %}
                    <input type="submit" class="btn btn-secondary" name="add_student" value="Teamlid toevoegen"></td>
                    {% csrf_token %}
                    {% for field in form %}
                        <td>{{ field }}</td>
                    {% endfor %}
            </tr>
        </tbody>
    </table>
    </form>
</div>

<script type="text/javascript">

    const timer = (function ($) {
        let round = 0;

        const init = function () {
            update();
            setInterval(update, 1000);
        }

        const update = function () {
            $.ajax({
                'url': '/dashboard/timer/{{ team_toernooi.toernooicode.toernooicode }}',
                'dataType': 'json',
                'async': true,
                'success': function (data) {
                    calculateTime(data);
                    if (round != 0) {
                        if (data.round > round) {
                            location.reload();
                        }
                    }

                    if (data.active == 0) {
                        location.reload();
                    }
                    round = data.round
                }
            });
        }

        return {
            init: init
        }

        const calculateTime = function (clock) {
            if (clock.active == 1) {
                enableQuestions();
                endtime = new Date(Date.parse(clock.endtime));
                now = Date.now();

                diffInSec = Math.round((endtime - now) / 1000);

                timeLeft = new Date(diffInSec * 1000).toISOString().substr(11, 8);
            }
            else {
                disableQuestions();
                if (clock.set == 1) {
                    const current_timer_time = clock.current_timer_time;
                    timeLeft = current_timer_time.substr(0, 8) + "<i> - Pauze</i>";
                }
                else {
                    timeLeft = "00:00:00";
                }
            }
            timer.html(timeLeft);
        }
    })(jQuery);

    $(function () {
        timer.init();
    });

</script>