{% load static %}
{% include 'base.html' %}
<head>
    <title>Dashboard</title>
    <link href="{% static 'css/dashboard_style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/scoreboard_style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/toernooi_info_style.css' %}" rel="stylesheet" />
    <link href="{% static 'css/vragenlijst_style.css' %}" rel="stylesheet" />
</head>

<body>
    {% if team_has_name == False %}
        {% include 'teamPopup.html' %}
    {% endif %}

    {% include 'notificationPopup.html' %}

    <div>
        {% include "Navbar/team_navbar.html" %}
    </div>
    <div id="content_container" class="row">
        <div class="vragen_container col-md-8">
            <div id="toernooi_info">
                {% block toernooi_info %}
                   {% include 'toernooi_info.html' %}
                {% endblock %}
            </div>
            <div id="vragenlijst">
                {% block vragen %}
                   {% include 'vragenlijst.html' %}
                {% endblock %}
            </div>
        </div>
        <div id="scoreboard" class="col-md-3 offset-1">
            {% block scoreboard %}
                {% include 'scoreboard.html' %}
            {% endblock %}
        </div>
    </div>
</body>

{% if team_has_name == False %}
    <script src="{% static 'js/teamPopup.js' %}"></script>
    <style type="text/css">
        html, body {margin: 0; height: 100%; overflow: hidden}
    </style>
{% endif %}

