<div id="teamPopup" class="modal-dialog" role="dialog" tabindex="-1">
    <div class="modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Welkom bij Capture The Flag!</h4>
            </div>

            <div class="modal-body">
                <p style="padding: 0 15px;">
                    <b>Jullie team heeft nog geen naam</b><br>
                    Voordat jullie door kunnen gaan naar het beantwoorden van de vragen, moet er eerst een teamnaam worden opgegeven.
                </p>
                <br>
                <form role="form" method="post" action="">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label col">Vul een teamnaam in</label>
                        <div class="col">
                            {{ form.naam }}
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Opslaan</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>