{%block vragenlijst%}

<div class="container-questions">
    {% for v in vragen %}
        <div id="q{{ v.vraagID }}" class="question
            {% for a in antwoorden %}
                {% if v.vraagID == a.vraagID.vraagID %}
                    {% if a.correct == 1 %}
                        correct
                    {% elif a.correct == 2 %}
                        incorrect
                    {% elif a.correct == 0 %}
                        review
                    {% endif %}
                {% endif %}
            {% endfor %}
        ">

            {# TODO - Disable questions nalopen #}

        <a href="{% url 'dashboard:vraag' v.vraagID forloop.counter %}{% if forloop.last %}?last=true{% endif %}{% if forloop.first %}?first=true{% endif %}" class="question-btn"> 
        {# url vraag = namespace defined in urls.py #}
            <div class="question-top">
                <div class="number">{{ forloop.counter }}</div>
                {%if v.nakijken != 0 %}
                    <div class="referee"><span class="fa fa-eye"></span></div>
                {% endif %}
            </div>
            <div class="score">{{v.punten}}</div>
            {% if v.type == 'T' %}
                <div class="type">Open antwoord</div>
            {% elif v.type == 'M' %}
                <div class="type">Meerkeuze</div>
            {% endif %}
            </a>
        </div>
        
    {% endfor %}
</div>
{%endblock%}
