<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <h1>Antwoorden nakijken</h1>
    <h2>Toernooi: {{ tournament }}</h2>

    {% if answers.count == 0 %}
    <p>Er zijn momenteel geen antwoorden om na te kijken</p>
    {% endif %}

    {% for answer in answers %}
        <p><a href="{% url 'assessAnswer' tournament.toernooicode answer.id %}">{{ answer.teamcode }}: {{ answer.vraagID }}</a></p>
    {% endfor %}

</body>
</html>