{% load static %}
{% include 'base.html' %}

<head>
    <title>Control Panel</title>
    <link href="{% static 'css/ControlPanel_style.css' %}" rel="stylesheet" />
</head>
<body>
    {% include 'Navbar/admin_navbar.html' %}
    <div class="container">
        <div class="container-row">
            <div class="widget card-container" id="tournamentContainer">
                <h2>{{ tournament.naam }}</h2>
                <br />
                <p id="tournament-omschrijving">{{ tournament.omschrijving }}</p>
                <center><a class="btn btn-green margin-14" href="{% url 'ViewTournament' tournament.toernooicode %}">Terug naar het overzicht</a></center>
                <center><a class="btn btn-green" href="{% url 'dashboard' tournament.toernooicode %}" target="_blank">Groot scherm</a></center>
            </div>
            <div class="widget card-container" id="musicContainer">
                <h3>Muziek</h3>
                    <h2>Artist - Title</h2>
                    <br />
                    <br />
                    <div class="buttons">
                        <a href="#" class="btn btn-outline-secondary align-bottom">Stop</a>
                        <a href="#" class="btn btn-outline-secondary align-bottom">Skip</a>
                        <a href="#" class="btn btn-outline-secondary align-bottom">Start</a>
                    </div>
            </div>
            <div class="widget card-container" id="clockContainer">
                 <h3 id="rounds">Ronde: ...</h3>
                    <h2><b id="timerContainer">--:--:--</b></h2>
                    <h6><i style="display:none" id="eindtijd">Eindtijd: ...</i></h6>
                    <br />
                    <br />
                    <div class="buttons">
                        <a href="timer/pause/" style="display:none" id="pause" class="btn btn-outline-secondary">Pauze</a>
                        <a href="timer/start/" style="display:none" id="start" class="btn btn-outline-success">Start</a>
                        <a href="timer/reset/" style="display:none" id="reset" class="btn btn-outline-warning">Reset ronde</a>       
                        <a href="restart" style="display:none" id="restart" class="btn btn-outline-danger">Reset toernooi</a>
                    </div>
            </div>
        </div>

        <div class="container-row">
            <div class="card-container" id="questionsContainer">
                <h5>Alle vragen binnen de rondes</h5>
                <div class="container-table">
                    <table id="questions-table">
                    <tr class="th-dark-background"><th>Vraag</th><th>Vraagomschrijving</th><th></th><th>Nakijken</th></tr>
                    {% for round in questions %}
                            <tr><th class="round">Ronde {{ forloop.counter }}</th><th class="round"></th><th class="round"></th><th></th></tr>             {% for question in round %}
                                <tr><td>{{ question.title }}</td><td>{{ question.omschrijving }}</td><td><a class="btn btn-green" href="{% url 'manageQuestion' tournament.toernooicode forloop.parentloop.counter question.vraagID %}">Inzien</a></td>
                                {% if question.nakijken == 1 %}
                                    <td>
                                        <i class="fa fa-check checkmark" aria-hidden="true"></i>
                                    </td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="card-container" id="teamsContainer">
                <h5>De teams</h5>
                <div class="container-table">
                    <table class="leaderboard">
                        <tr class="th-dark-background"><th>#</th><th>Team</th><th>Score</th></tr>
                        {% for team in teams %}
                            <tr {% if forloop.last %} class="last"{% endif %}><td><b>{{ forloop.counter }}</b></td><td>{{ team.naam }}</td><td>{{ team.score }}</td></tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>


<script type="text/javascript" src="{% static "js/controlPanel.js" %}"></script>
<script type="text/javascript">
    $(function () {
        timer.init();
    });
</script>