{% load static %}
{% include 'base.html' %}
{% load custom_tags %}

<head>
    <title>Toernooi</title>
    <link href="{% static 'css/AdminDashboard_style.css' %}" rel="stylesheet" />
</head>

<body>
    <div class="container-main">
        <div class="container-header">
            <div>
                <img src="{%static 'img/CTFgreen.png' %}" alt="Alternate Text" class="logo"/>
            </div>
        </div>
        <div class="container-middle">
            <div class="container-middle-left">
            <h1>
                {{tournament.naam}}
            </h1>
            <h4>
                <i>{{tournament.omschrijving}}</i>
            </h4>
                <div>
                    <h2>
                        Ronde {{round}}
                    </h2>
                </div>
                <!-- TIMER -->
                <div class="container-clock">
                    <center>
                        <h2 id="timer">00:00:00</h2>
                    </center>
                </div>
            </div>   
            <!-- LEADERBOARD -->
            <div class="container-scoreboard">
                <h4> Leaderboard </h4>
                <table id="leaderboard" class="leaderboard">
                        <tr class="th-dark-background">
                            <th>#</th>
                            <th>Team</th>
                            <th>Score</th>
                        </tr>
                        {% for team in teams %}
                            <tr {% if forloop.last %} class="last"{% endif %}>
                                <td><b>{{ forloop.counter }}</b></td>
                                <td>
                                    <h5>
                                        <span class="badge" style="background-color: {{ team.kleur }}; color: {% get_complementary team.kleur %}">{{ team.naam }}</span>
                                    </h5>
                                </td>
                                <td>{{ team.score }}</td>
                            </tr>
                        {% endfor %}
                    </table>
            </div>
        </div>

    </div>
</body>

<script>

    const timer = (function ($) {
        let round = 0;
        let timer;
        let scoreboard;

        const init = function () {
            timer = $('#timer');
            scoreboard = $('#leaderboard');
            update();
            setInterval(update, 1000);
        }

        const update = function () {
            $.ajax({
                'url': '/admin/scoreboard/{{tournament.toernooicode}}',
                'dataType': 'json',
                'async': true,
                'success': function (data) {
                    calculateTime(data.timer);
                    updateScoreboard(data.teams)
                    if (round != 0) {
                        if (data.round != round) {
                            location.reload();
                        }
                    }

                    round = data.round
                }
            });
        }

        const calculateTime = function (clock) {
            if (clock.active == 1) {
                endtime = new Date(Date.parse(clock.endtime));
                now = Date.now();

                diffInSec = Math.round((endtime - now) / 1000);

                timeLeft = new Date(diffInSec * 1000).toISOString().substr(11, 8);
            }
            else {
                if (clock.set == 1) {
                    const current_timer_time = clock.current_timer_time;
                    timeLeft = current_timer_time.substr(0, 8) + "<i> - Pauze</i>";
                }
                else {
                    timeLeft = "00:00:00";
                }
            }
                
            timer.html(timeLeft);
        }

        const updateScoreboard = function (teams) {
            scoreboard.html('<tr class="th-dark-background"><th>#</th><th>Team</th><th>Score</th></tr>');

            let output = "";

            for (let i = 0; i < teams.length; i++) {
                j = i + 1;
                if (i == (teams.length - 1)) {
                    output += '<tr class="last"><td><b>' + j + '</b></td>';
                }
                else {
                    output += '<tr><td><b>' + j + '</b></td>';
                }

                output += '<td>' + teams[i].naam + '</td>';
                output += '<td>' + teams[i].score + '</td></tr>';
            }

            scoreboard.append(output);
        }

        return {
            init: init
        }

    })(jQuery);

    $(document).ready(function () {
        timer.init();
    });

</script>