{% load static %}
{% include 'base.html' %}
{% include 'Navbar/admin_navbar.html' %}

<head>
    <title>Vraag wijzigen</title>
    <link href="{% static 'css/ModifyQuestion_style.css' %}" rel="stylesheet" />
</head>
<body>

    <h2>Vraag {{vraag.vraagID}} aanpassen</h2>
    <div class="container-main">
        <div class="container-card">
            <form id="questionForm" method="post">
                {% csrf_token %}
                
                <div class="form-item">
                    <label class="form-label">Titel</label>
                    {{ form.title }}
                </div>
                
                <div class="form-item">
                    <label class="form-label">Omschrijving</label>
                    {{ form.omschrijving }}
                </div>
                <div class="form-item">
                    

                    {% if vraag.type == 'M' %}
                    <div class="row">
                        <div class="col-md-4">
                            <label class="form-label">A</label>
                            <input class="form-control" type="text" value="{{ opties.keuzeEen }}" name="opties[]"/>
                            <input class="form-control" type="radio" name="correct" value="1" {% if opties.correctAntwoord == 1 %} checked{% endif %}/>
                        </div>
                        <div class="col-md-4 offset-md-2">
                            <label class="form-label">B</label>
                            <input class="form-control" type="text" value="{{ opties.keuzeTwee }}" name="opties[]"/>
                            <input class="form-control" type="radio" name="correct" value="2"{% if opties.correctAntwoord == 2 %} checked{% endif %}/>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">C</label>
                            <input class="form-control" type="text" value="{{ opties.keuzeDrie }}" name="opties[]"/>
                            <input class="form-control" type="radio" name="correct" value="3"{% if opties.correctAntwoord == 3 %} checked{% endif %}/>
                        </div>
                        <div class="col-md-4 offset-md-2">
                            <label class="form-label">D</label>
                            <input class="form-control" type="text" value="{{ opties.keuzeVier }}" name="opties[]"/>
                            <input class="form-control" type="radio" name="correct" value="4"{% if opties.correctAntwoord == 4 %} checked{% endif %}/>
                        </div>
                    </div>
                    {% else %}
                    <div>
                        <label class="form-label">Juiste antwoord</label>
                        {{ form.juist_antwoord }}
                    </div>
                    {% endif %}
                </div>
                <div class="container-bottom">
                    <div class="form-item">
                        <label class="form-label">Punten</label>
                        {{ form.punten }}
                    </div>
                    <div class="form-item offset-md-2">
                         <label class="nakijken-label form-label">Moet deze vraag handmatig worden nagekeken? </label>
                            <div class="radio-container">
                                <div class="radio-items">
                                    <input type="radio" value="1" name="nakijken" id="nakijken-ja" {% if form.nakijken.value == 1 %} checked {% endif %} />
                                    <label>Ja</label>
                                </div>
                                <div class="radio-items">
                                    <input type="radio" value="0" name="nakijken" id="nakijken-nee" {% if form.nakijken.value == 0 %} checked {% endif %}/>
                                    <label>Nee</label>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="btn-modify-container">
                    <input type="submit" value="Opslaan" class="btn btn-green btn-modify">
                    <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-warning">Annuleren</a>
                </div>
            </form>
        </div>
    </div>
</body>
