{% load static %}
{% include 'base.html' %}
{% include "Navbar/admin_navbar.html" %}
<head>
    <title>Beheer doorgeven</title>
    <link href="{% static 'css/ChangeBeheer_style.css' %}" rel="stylesheet" />
</head>

<body>
    <h2>Beheer doorgeven</h2>
    <div class="main-container">    
        <div class="form-container card-addition">
            <form id="toernooibeheerderWijzigenForm" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Toevoegen" class="btn btn-green">
            <a href="{{ request.META.HTTP_REFERER }}" class="btn btn-warning btn-modify">Annuleren</a>
            </form>
        </div>
    </div>
</body>
