{% load static %}
{% include 'base.html' %}

{% include 'Navbar/admin_navbar.html' %}
<head>
    <title>Vragenlijst</title>
    <link href="{% static 'css/viewVragen_style.css' %}" rel="stylesheet" />
</head>

<body>
<h2>Vragenlijst</h2>
    <div class="main-container">
    <a href="{% url 'ViewTournament' tournament %}" class="btn btn-primary btn-back">Terug</a>
        <div class="table-container">
            <div class="inner-container">
                <table id="vragen">
                    <tr>
                        <th>#</th>
                        <th> Vraag </th>
                        <th> Punten </th>
                        <th> Wijzigen </th>
                    </tr>
                    {% for vraag in vragenlijst %}
                    <tr>
                        <td>{{vraag.vraagID}}</td>
                        <td> {{ vraag.title }} </td>
                        <td> {{ vraag.punten }} </td>
                        <td><a href="{% url 'editVraag' vraag.vraagID %}"> Wijzigen</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</body>
