button {
    margin: 40px 0;
    padding: 10px;
    width: 100px;
    border-radius: 6px;
}

.container-all {
    display: flex;
    height: 94%;
}

.container-dashboard {
    border-left: 2px solid #d0d0d0;
    flex-grow: 2;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border-left: 4px solid #d0d0d0;
    background-color: #f7f7d2;
}

.container-question {
    flex-grow: 5;
    height: inherit;
}

.container-question-top {
    display: flex;
    justify-content: space-around;
}

.container-question-mid {
    display: flex;
    justify-content: center;
}

.container-question-bottom {
    margin: 30px;
    display: flex;
    justify-content: center;
}

.submit-btn {
    color: white;
    background: #4caf50;
    border: none;
    height: 45px;
    width: 100%;
    border-radius: 5px;
}

    .submit-btn:hover {
        background: #38843b;
    }

    .submit-btn:active {
        background: #38843b;
        margin-top: 1px;
    }

table {
    width: 95%;
    border-collapse: collapse;
    margin-top: 60px;
}

    td, th {
        border: 2px solid #bdbdbd;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(odd) {
        background-color: white;
    }

    tr:nth-child(even) {
        background-color: #f1f1f1;
    }
